@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  padding: 0.2em 0.6em;
  background: #efefef;
  border: none;
  border-radius: 0.3rem;
  color: #e35349;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
    -6px -6px 10px rgba(255, 255, 255, 0.5), 6px 6px 8px rgba(27, 24, 24, 0.075),
    6px 6px 10px rgba(0, 0, 0, 0.15);
}

.logo:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.homework-card {
  background: #fcb1b15b;
}

.reading-card {
  background-color: #5d3d8f41;
}

.background-grad {
  background: #5d3d8f;
  background: linear-gradient(90deg, #5d3d8f 0%, #e66a35 80%);
  background: -webkit-linear-gradient(90deg, #5d3d8f 0%, #e66a35 80%);
  background: -moz-linear-gradient(90deg, #5d3d8f 0%, #24120b 80%);
}

/* NOT FOUND PAGE ANIMATION */
.circle-1 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px solid rgb(241, 254, 0);
  border-radius: 49% 61% 48% 50% / 17% 52% 51% 80%;
  bottom: 10%;
  left: 10%;
  animation: animate1 60s linear infinite;
}

.circle-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(255, 98, 7);
  top: 350px;
  left: 40%;
  border-radius: 100% 0% 73% 0% / 100% 0% 100% 60%;
}

.circle-3 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid rgb(61, 62, 63);
  top: 80px;
  right: -0%;
  border-radius: 64% 36% 100% 0% / 94% 55% 45% 6%;
  animation: animate2 60s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateX(-1000px) rotate(720deg);
    opacity: 0;
  }
}
